server {
	listen	80;
	server_name agp.example.org;

	location @django_opengt_media {
		root				/usr/share/django_opengt;
	}

	location /m/ {
		rewrite				^/m/(.*)$ /media/$1 break;
		root				/var/www/webapps/opengt_agp;
		error_page			404 = @django_opengt_media;
	}

	location / {
		proxy_set_header	Host $host;
		proxy_pass			http://127.0.0.1:8080;
	}
}
