    #add_trackers {
        margin: 1em 0 0 1em;
        width: 400px;
    }
	
    .standard_form {
        margin: 3em auto 0 auto;
        width: 400px;
    }
    
    .standard_form td {
        padding: 0 2em 1em 2em;
    }
    
    .standard_form h1 {
        font-size: 160%;
        margin-bottom: 1em;
    }
    
    .standard_form h1 a {
        font-size: 70%;
        font-weight: normal;
    }
    
    .standard_form form label, .standard_form form .label, label.standard {
        font-size: 110%;
        color: #666;
        display: block;
        margin: 0;
        margin-top: 1em;
    }
	
	
    
    .standard_form form label a {
        font-size: 90%;
    }
    
    .standard_form form label.error {
        color: #a00;
    }
    
    .standard_form form .label label {
        margin: 0;
        color: black;
        font-size: 95%;
    }
    
    .standard_form form .label span {
        font-size: 90%;
        color: #888;
    }
    
    .standard_form form input, .standard_form form textarea {
        padding: 5px;
        border: 1px solid #888;
    }
    
    .standard_form form input.text {
        font-size: 110%;
    }
    
    .standard_form form input.submit {
        font-size: 120%;
        padding: .1em 1em;
    }
    
    .standard_form form label.error input.text, .standard_form form label.error textarea {
        border: 1px solid #a00;
        background-color: #f2e1e1;
    }
	.error {
		background:#FFEBE8 none repeat scroll 0 50%;
		border:1px solid #DD3C10;
		padding:1em;
		margin:1em 0 0 0;
	}
	table.track { border-collapse: collapse; width: 100%; }
	table.track th, table.track td { border: 1px solid #ccc; padding: 2px 3px; vertical-align:middle; }
	table.track td.first { background: #f4f4f4; }
	table.track td { background-color:#FFFFFF; padding: 5px; }
	td input { border:solid 1px #888; }
