.text {
	font-family: Tahoma, Arial;
	font-size: 70%;
	color: #353433;
}
.text2 {
	font-family: Tahoma, Arial;
	font-size: 75%;
	color: #353433;
}
.text ul {
	margin-left: 0;
	padding-left: 0;
}
ul ul {
	font-weight: normal;
}
.content {
	font-family: Arial;
	font-size: 100%;
	color: #353433;
}
H1 {font-family:Arial; font-size:17px; color:#262780;font-weight:bold}



.text li {
	font-family: Tahoma, Arial;
	color: #353433;
	list-style-type: none;
	margin-left: 5px;
}
li strong a {
	margin-bottom: 6px;
	display: block;
}
