<html>
    <head>
        <script language="javascript">
            function display_title(){
                var hours = date.getHours();
                var message = '';
                if (hours >= 6) {
                    message_t = '<STRONG>Доброго утречка</STRONG>';
                    message = 'mm';
                }
                if ((hours >= 12) && (hours < 17)) {
                    message_t = '<STRONG>Уж время обеда</STRONG>';
                    message = 'am'
                }
                if (hours >= 17) {
                    message_t = '<STRONG>Доброго вам вечера</STRONG>';
                    message = 'em';
                }
                if ((hours >= 0) && (hours < 6)) {
                    message_t = '<STRONG>Пусть ночь для вас будет приятной</STRONG>';
                    message = 'nm';
                }
                document.write('<STRONG>Хочется сказать вам по простому, </STRONG>' + message_t + '');
            }
            
            function display_date(){
                date = new Date();
            }
        </script>
        <title>ФГУП «Западно-Сибирское аэрогеодезическое предприятие»</title>
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
        <link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}css/style.css"/>
        <meta content="" name="description"/>
        <meta content="" name="keywords"/>
    </head>
    <body bgcolor="#f2efe9" alink="#ffcc33" vlink="#42413f" marginwidth="0" marginheight="0" link="#42413f" leftmargin="0" topmargin="0">
        <script language="javascript">
            <!--
            //www.cgi.ru
            display_date();
            display_title();
            //
            -->
        </script>
        <table cellspacing="0" cellpadding="0" border="0" align="center" width="1010">
            <tbody>
                <tr>
                    <td background="{{ MEDIA_URL }}images/top_bg.gif" align="left" valign="top" height="16" colspan="2">
                        <img width="16" height="16" src="{{ MEDIA_URL }}images/l_ugol.gif"/>
                    </td>
                    <td background="{{ MEDIA_URL }}images/r_bg.gif" align="left" width="16" valign="top" rowspan="2">
                        <img width="16" height="16" src="{{ MEDIA_URL }}images/r_ugol.gif"/>
                    </td>
                </tr>
                <tr>
                    <td background="{{ MEDIA_URL }}images/l_bg.gif" align="left" width="16" valign="bottom" rowspan="2">
                        <img width="16" height="16" src="{{ MEDIA_URL }}images/l_ugol_b.gif"/>
                    </td>
                    <td bgcolor="#f2efe9" align="left" valign="top" height="706">
                        <table cellspacing="0" cellpadding="0" border="0" background="{{ MEDIA_URL }}images/header.gif" width="100%">
                            <tbody>
                                <tr align="left" valign="top">
                                    <td align="right" width="48%" height="149">
                                        <img width="350" height="1" src="{{ MEDIA_URL }}images/spacer.gif"/>
                                    </td>
                                    <td width="3%">
                                        <a href="/"><img border="0" width="143" height="168" alt="ЗапсибАГП" src="{{ MEDIA_URL }}images/gerb.gif"/></a>
                                    </td>
                                    <td align="right" width="49%" valign="middle">
                                        <table cellspacing="3" cellpadding="3" border="0" width="26%">
                                            <tbody>
                                                <tr align="left" valign="top">
                                                    <td align="right" width="18%" valign="middle">
                                                        <img width="11" height="11" src="{{ MEDIA_URL }}images/search.gif"/>
                                                    </td>
                                                    <td width="82%">
                                                        <form style="margin: 0px;" method="get" action="/search/">
                                                            <input type="text" onclick="this.value=''" size="25" id="q" value="поиск по сайту" name="query"/><input type="hidden" value="1" name="search"/>
                                                        </form>
                                                    </td>
                                                    <td width="82%" valign="middle">
                                                        <input type="image" src="{{ MEDIA_URL }}images/go.gif" name="subsearch"/>
                                                    </td>
                                                </tr>
                                                <tr align="left" valign="top">
                                                    <td align="right">
                                                        <img width="52" height="67" src="{{ MEDIA_URL }}images/globus.gif"/>
                                                    </td>
                                                    <td class="text">
                                                        <strong>
                                                            <font color="#000080">
                                                                Территория зона отвественности:
                                                            </font>
                                                        </strong>
                                                        <font color="#000080">
                                                            <br/>
                                                            Тюменская область, в т.ч. 
                                                            <br/>
                                                            Ханты-Мансийский АО — Югра,
                                                            <br/>
                                                            Ямало-Ненецкий АО. 
                                                        </font>
                                                    </td>
                                                    <td class="text">
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <img width="350" height="1" src="{{ MEDIA_URL }}images/spacer.gif"/>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table cellspacing="0" cellpadding="0" border="0" width="100%">
                            <tbody>
                                <tr>
                                    <td align="left" width="23%" valign="middle" height="36">
                                        <table cellspacing="0" cellpadding="0" border="5" bgcolor="#262780" width="175">
                                            <tbody>
                                                <tr align="center" valign="bottom">
                                                    <td width="19%" height="30">
                                                        <a href="/"><img border="0" width="15" vspace="8" hspace="22" height="14" alt="На главную" src="{{ MEDIA_URL }}images/home.gif"/></a>
                                                    </td>
                                                    <td width="5%">
                                                        <a href="/sitemap/"><img border="0" width="11" vspace="8" hspace="22" height="9" alt="Карта сайта" src="{{ MEDIA_URL }}images/map.gif"/></a>
                                                    </td>
                                                    <td width="76%">
                                                        <a href="mailto:zsagp@mail.ru"><img border="0" width="12" vspace="8" hspace="22" height="8" alt="На почту" src="{{ MEDIA_URL }}images/mail.gif"/></a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                    <td width="57%">
                                        <a href="/"><img border="0" width="443" height="36" alt="ФГУ «Западно-Сибирское аэрогеодезическое предприятие»" src="{{ MEDIA_URL }}images/name.gif"/></a>
                                    </td>
                                    <td width="20%">
                                        <script src="http://www.24log.ru/clock/clock24.js" language="JavaScript"/></script>
                                        <table cellspacing="1" cellpadding="3" border="5" bgcolor="#262780" style="padding: 0pt; line-height: 12px; font-family: arial; font-size: 12px;" class="clock24st">
                                            <tbody>
                                                <tr>
                                                    <td bgcolor="#262780" class="clock24std">
                                                        <a href="http://www.24log.it"><img border="0" align="left" width="14" hspace="2" height="14" alt="contatore visite" src="http://www.24log.ru/clock/24log.gif"/></a><a style="text-decoration: none;" href="http://www.24log.ru/clock/"><span style="color: rgb(255, 255, 255);" id="clock24_37819" class="clock24s">Ср, 10 Фев 2010 10:50</span></a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <script language="JavaScript">
                                            //<!--
                                            var clock24_37819 = new clock24('37819', 300, '%W, %dd %M %yyyy %hh:%nn', 'ru');
                                            clock24_37819.daylight('RU');
                                            clock24_37819.refresh();
                                            //-->
                                        </script>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table cellspacing="0" cellpadding="0" border="0" width="100%" height="423">
                            <tbody>
                                <tr align="left" valign="top">
                                    <td width="3%" height="423">
                                        <table cellspacing="0" cellpadding="5" border="5" width="97%">
                                            <tbody>
                                                <tr>
                                                    <td align="left" valign="top" class="text">
                                                        <table cellspacing="5" cellpadding="0" border="0" width="100%">
                                                            <tbody>
                                                                <tr>
                                                                    <td class="text">
                                                                        <strong><a href="/main/">Главная</a></strong>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="text">
                                                                        <strong><a href="/roskartogr/">Роскартография</a></strong>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="text">
                                                                        <strong><a href="/normdocs/">Нормативные документы</a></strong>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="text">
                                                                        <strong><a href="/about/">О предприятии</a></strong>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="text">
                                                                        <strong><a href="/subdivisions/">Подразделения</a></strong>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="text">
                                                                        <strong><a href="/offices/">Филиалы</a></strong>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="text">
                                                                        <strong><a href="/products/">Наша продукция</a></strong>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="text">
                                                                        <strong><a href="/shop/">Магазин</a></strong>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="text">
                                                                        <strong><a href="/gosnadzor/">Тюменское межрегиональное управление геодезии и картографии(Госгеонадзор)</a></strong>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="text">
                                                                        <strong><a href="/kargeo/">Федеральный картографо-геодезический фонд (ФКГФ)</a></strong>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="text">
                                                                        <strong><a href="/lizenzii/">Лицензии и учредительные документы</a></strong>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="text">
                                                                        <strong><a href="/competition/">Конкурсы</a></strong>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="text">
                                                                        <strong><a href="/GPS/">GPS</a></strong>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="text">
                                                                        <strong><a href="/vacancy/">Вакансии</a></strong>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="text">
                                                                        <strong><a href="/contact/">Обратная связь</a></strong>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <table cellspacing="0" cellpadding="0" border="0" width="100%">
                                            <tbody>
                                                <tr>
                                                    <td align="left" valign="top">
                                                        <img width="192" height="208" src="{{ MEDIA_URL }}images/obl.jpg"/>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                    <td width="97%">
                                        <br/>
                                        <hr color="#000080" size="2" aling="center"/>
                                        <table cellspacing="0" cellpadding="0" border="0" width="100%">
                                            <tbody>
                                                <tr>
                                                    <td width="20%">
                                                        <table cellspacing="0" cellpadding="2" border="0" width="100%" height="100%" valign="top">
                                                            <tbody>
                                                                <tr>
                                                                    <td>
                                                                    	{% block map %}
																		{% endblock %}
																	</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <br/>
                                        <dd>
                                        </dd>
                                        <table cellspacing="15" cellpadding="0" border="0" width="100%">
                                        </table>
                                        <p>
                                        </p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table cellspacing="0" cellpadding="0" border="0" width="100%">
                            <tbody>
                                <tr align="left" valign="top">
                                    <td width="23%" valign="bottom" height="79">
                                        <table cellspacing="0" cellpadding="0" border="0" width="193">
                                            <tbody>
                                                <tr align="left" valign="top">
                                                    <td align="right" width="1%">
                                                        <img width="1" vspace="10" hspace="20" height="58" src="{{ MEDIA_URL }}images/line.gif"/>
                                                    </td>
                                                    <td width="99%" valign="middle" class="text">
                                                        <strong>
                                                            <font color="#000080">
                                                                Адрес:
                                                            </font>
                                                        </strong>
                                                        <font color="#000080">
                                                            625031, г.Тюмень, 
                                                            <br/>
                                                            ул.Таежная, д. 12.
                                                            <br/>
                                                            <strong>Телефон:</strong>
                                                            (3452) 47-33-34.
                                                            <br/>
                                                            <strong>E-mail:</strong>
                                                            <a href="mailto:zapsibagp@mail.ru">
                                                                <font color="#000080">
                                                                    zapsibagp@mail.ru
                                                                </font>
                                                            </a>
                                                        </font>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                    <td width="62%" valign="bottom">
                                        <table cellspacing="15" cellpadding="0" border="0" width="100%">
                                            <tbody>
                                                <tr>
                                                    <td height="20" class="text">
                                                        <img align="left" width="30" height="30" src="{{ MEDIA_URL }}images/kompas.gif"/>
                                                        <font color="#000080">
                                                            © 
                                                            2007, ФГУП «Западно-Сибирское аэрогеодезическое предприятие».
                                                            <br/>
                                                            Разработка: <a target="_blank" href="http://www.auto-graph.ru">
                                                                <font color="#000080">
                                                                    студия «Автограф»
                                                                </font>
                                                            </a>
                                                            <table cellspacing="0" cellpadding="0" border="0" style="line-height: 10px;">
                                                                <tbody>
                                                                    <tr>
                                                                        <td style="padding: 0px;" colspan="2">
                                                                            <a target="_blank" href="http://www.24log.de"><img border="0" title="" alt="html counter" src="http://counter.24log.ru/buttons/cl4/46-0.gif"/></a><a target="_blank" href="http://www.24log.ru"><img border="0" title="счетчик для сайта" alt="счетчик посетителей сайта" src="http://counter.24log.ru/count4_40699_46_1_6.pcx"/></a>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                            <noscript>
                                                                <table>
                                                                    <tr>
                                                                        <td style="padding:0px;">
                                                                            <font size="2" color="#EEEEEE">
                                                                                <a href="http://www.web-date.co.uk">singles</a>
                                                                            </font>
                                                                        </td>
                                                                        <td style="padding:0px;">
                                                                            <font size="1" color="#EDEBEE">
                                                                                <a href="http://www.web-date.co.uk">american singles</a>
                                                                            </font>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </noscript>
                                                        </font>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                    <td align="right" width="15%">
                                        <img width="94" height="144" src="{{ MEDIA_URL }}images/skop.gif"/>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td background="{{ MEDIA_URL }}images/top_bg_b.gif" align="right" valign="top" height="16" colspan="2">
                        <img width="16" height="16" src="{{ MEDIA_URL }}images/r_ugol_b.gif"/>
                    </td>
                </tr>
            </tbody>
        </table>
    </body>
</html>