{% extends "agp/base.html" %}
{% block script %}
<link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}css/form.css"/>
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/colorpicker.css" />

<script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/colorpicker.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/eye.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/layout.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/change_value_form.js"></script>
{% endblock %}
{% block content %}
<div id="map" style="width:773px; height:523px; float:left; margin-right:10px">
    <div class="standard_form" id="add_trackers">
    	<h1>Редактирование</h1>
		<form id="edit_form" method="POST" action=".">
            <label for="id">
				{{ form.IMEI }}&nbsp;&nbsp;<span style="color:#FF0000;">{% if form.IMEI.errors %}{{ form.IMEI.errors|join:" "}}{% endif %}</span>
            </label>
            <label for="name">
				{{ form.name }}&nbsp;&nbsp;<span style="color:#FF0000;">{% if form.name.errors %}{{ form.name.errors|join:" "}}{% endif %}</span>
            </label>
			<label for="color">
				<input type="text" maxlength="6" size="6" id="colorpickerField2" value="00ff00" />
            </label>
            <label for="model">
				{{ form.model }}&nbsp;&nbsp;<span style="color:#FF0000;">{% if form.model.errors %}{{ form.model.errors|join:" "}}{% endif %}</span>
            </label>
            <label>
                <input value="Сохранить" type="submit">
            </label>
        </form>
    </div>
</div>
{% endblock %}
