{% extends "agp/base.html" %}
{% block script %}
<script type='text/javascript' src="http://www.openlayers.org/api/OpenLayers.js"></script>
<script type='text/javascript' src="http://www.openstreetmap.org/openlayers/OpenStreetMap.js"></script>
<script type='text/javascript' src="{{ MEDIA_URL }}js/markers.js"></script>
<!--
<script src="{{ MEDIA_URL }}js/all_map.js"></script>
<script type='text/javascript' src='http://dev.virtualearth.net/mapcontrol/mapcontrol.ashx?v=6.1'></script>
<script type='text/javascript' src='http://maps.google.com/maps?file=api&amp;v=2&amp;key=ABQIAAAAjpkAC9ePGem0lIq5XcMiuhR_wWLPFku8Ix9i2SXYRVK3e45q1BQUd_beF8dtzKET_EteAjPdGDwqpQ'></script>
<script type='text/javascript' src="http://api.maps.yahoo.com/ajaxymap?v=3.0&appid=euzuro-openlayers"></script>
-->
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script>
    $(function(){
        $("#max").click(function(){
            $("#body").css("display", "block");
            $("#min").css("display", "block");
            $("#max").css("display", "none")
        });
        $("#min").click(function(){
            $("#body").css("display", "none");
            $("#min").css("display", "none");
            $("#max").css("display", "block")
        })
    });
</script>
{% endblock %}
{% block content %}
<div style="width: 100px; height: 30px; z-index:1; position:relative; border:none; top:480px; left:660px">
    <a href=http://spo.tyumen.ru target=_blank style="border:none"><img src="{{ MEDIA_URL }}images/banner_100x30.jpg"></a>
</div>
<div id="map" style="width:773px; height:523px; border:solid 1px black; margin-right:10px; position:relative; top:-30px">
    <div id="OpenLayers.Control.LayerSwitcher_4" style="position: absolute; top: 0px; right: 386px; font-family: sans-serif; font-weight: bold; margin-top: 0px; margin-left: 3px; margin-bottom: 3px; font-size: smaller; color: white; background-color: transparent; padding-top: 0pt; padding-bottom: 0pt; width: 200px; z-index: 1004;" class="olControlLayerSwitcher olControlNoSelect" unselectable="on">

        <div id="body" style="display:none;">
            <div id="OpenLayers.Control.LayerSwitcher_4_layersDiv" style="padding: 5px 0px 5px 10px; background-color: darkblue; height: 100%; opacity: 0.75;">
                <div style="padding-left: 3px;">
                    <a href=/trackers/ style="color:#FFFFFF;">Трекеры</a>
                </div>
                <div style="padding-left: 3px;">
                    <a href=/logout/ style="color:#FFFFFF;">Выйти</a>
                </div>
            </div>
            <div style="background-color: transparent;">
                <span style="overflow: hidden; background-color: darkblue; display: block; height: 2px; font-size: 1px; margin-left: 1px; margin-right: 1px; border-left-width: 1px; border-right-width: 0px; opacity: 0.75;"></span>
                <span style="overflow: hidden; background-color: darkblue; display: block; height: 1px; font-size: 1px; margin-left: 2px; margin-right: 2px; border-left-width: 2px; border-right-width: 0px; opacity: 0.75;"></span>
                <span style="overflow: hidden; background-color: darkblue; display: block; height: 1px; font-size: 1px; margin-left: 3px; margin-right: 3px; border-left-width: 3px; border-right-width: 0px; opacity: 0.75;"></span>
                <span style="overflow: hidden; background-color: darkblue; display: block; height: 1px; font-size: 1px; margin-left: 5px; margin-right: 5px; border-left-width: 5px; border-right-width: 0px; opacity: 0.75;"></span>
            </div>
        </div>
		
		<div id="max" style="display:block; cursor:pointer;">
		   	<div style="position: absolute; width: 50px; height: 18px; top: 0px; right: 0px; background-color: darkblue; opacity: 0.75; padding:0 0">
				<span style="padding:0 4px 0 4px">меню</span>
            	<div style="background-color: transparent;">
                	<span style="overflow: hidden; background-color: darkblue; display: block; height: 2px; font-size: 1px; margin-left: 1px; margin-right: 1px; border-left-width: 0px; border-right-width: 0px;"></span>
                	<span style="overflow: hidden; background-color: darkblue; display: block; height: 1px; font-size: 1px; margin-left: 2px; margin-right: 2px; border-left-width: 0px; border-right-width: 0px;"></span>
                	<span style="overflow: hidden; background-color: darkblue; display: block; height: 1px; font-size: 1px; margin-left: 3px; margin-right: 3px; border-left-width: 0px; border-right-width: 0px;"></span>
                	<span style="overflow: hidden; background-color: darkblue; display: block; height: 1px; font-size: 1px; margin-left: 5px; margin-right: 5px; border-left-width: 0px; border-right-width: 0px;"></span>
				</div>
        	</div>
		</div>
		
		<div id="min" style="position: absolute; width: 18px; height: 18px; top: 5px; right: 0px; display: none; cursor:pointer;">
			<img src="http://www.openlayers.org/api/img/layer-switcher-minimize.png" style="position: relative; width: 18px; height: 18px;" id="OpenLayers_Control_MaximizeDiv_innerImage"/>
        </div>
    </div>
</div>{% endblock %}