{% extends "agp/base.html" %}
{% block script %}
<link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}css/form.css"/>
{% endblock %}
{% block content %}
<div id="map" style="width:773px; height:523px; float:left; margin-right:10px">
    <table class="standard_form" id="login" cellspacing="0" cellpadding="5" border="5">
        <tr>
            <td>
                <form method="post">
                    <h1>Регистрация <a href="/login">(авторизация)</a></h1>
                    <label for="user_email" class="">
                        Имя пользователя
                        <br>
                        {{ form.username }}
                    </label>
                    <label for="password">
                        Введите пароль
                        <br>
                        {{ form.password1 }}
                    </label>
                    <label for="password_confirmation">
                        ..еще раз
                        <br/>
                        {{ form.password2 }}
                    </label>
                    <label>
                        <input value="зарегистрировать" id="signup_button" type="submit">
                    </label>
                </form>
            </td>
        </tr>
    </table>
</div> {% endblock %}