{% extends "agp/base.html" %}
{% block script %}
<link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}css/form.css"/>
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script>
	function add() {
		$("#add_form").css("display", "block");
		$("#del").css("display", "block");
		$("#add").css("display", "none");
	}
	function del() {
		$("#add_form").css("display", "none");
		$("#del").css("display", "none");
		$("#add").css("display", "block");
	}
</script>
{% endblock %}
{% block content %}
<div id="map" style="width:773px; height:523px; float:left; margin-right:10px">
    <div class="standard_form" id="add_trackers">
		<h1>Трекеры <a href="{% url map %}">(на карту)</a></h1>
		{% if trackers %}
    	<table class="track">
    		<tr>
    			<td class="first" >IMEI или ID</td>
				<td class="first">Имя трекера</td>
				<td class="first">Модель трекера</td>
				<td class="first"></td>
    		</tr>
			{% for tracker in trackers %}
			<tr>
				<td>{{ tracker.IMEI }}</td>
				<td>{{ tracker.name }}</td>
				<td>{{ tracker.model.name }}</td>
				<td>
					<form action="{% url del_tracker tracker.pk %}" method="GET"><input type="submit" value="удалить"/></form>
					<form action="{% url edit_tracker tracker.pk %}" method="GET"><input type="submit" value="редактировать"/></form>
				</td>

			</tr>
			{% endfor %}

    	</table>
		{% else %}
		<h1 style=" font-size:smaller;">Трекеры не добавлены</h1>
		{% endif %}
		<br/>
		
		{% if not form.is_bound %}
		<input id="add" type="button" value="добавить трекер" onclick="add()" style="display:block; padding:5px;">
		<input id="del" type="button" value="убрать форму" onclick="del()" style="display:none; padding:5px;">
		{% endif %}

		{% if form.non_field_errors %}
			{% for error in form.non_field_errors %}
				<div class="error">{{ error }}</div>
			{% endfor %}
		{% endif %}


		<form id="add_form" method="post" {% if not form.is_bound %} style="display:none"{% endif %} action="{% url trackers %}">
            <label for="id">
				{{ form.IMEI }}&nbsp;&nbsp;<span style="color:#FF0000;">{% if form.IMEI.errors %}{{ form.IMEI.errors|join:" "}}{% endif %}</span>
            </label>
            <label for="name">
				{{ form.name }}&nbsp;&nbsp;<span style="color:#FF0000;">{% if form.name.errors %}{{ form.name.errors|join:" "}}{% endif %}</span>
            </label>
            <label for="model">
				{{ form.model }}&nbsp;&nbsp;<span style="color:#FF0000;">{% if form.model.errors %}{{ form.model.errors|join:" "}}{% endif %}</span>
            </label>
            <label>
                <input value="зарегистрировать трекер" type="submit">
            </label>
        </form>
    </div>
</div>
{% endblock %}
