{% extends "base.html" %}
{% block script %}
<link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}css/form.css"/>
{% endblock %}
{% block content %}
<div id="map" style="width:773px; height:523px; float:left; margin-right:10px">
    <div class="standard_form" id="login">
        <div id="add_trackers" class="standard_form">
            {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
            <div class="error">
                {{ error }}
            </div>
            {% endfor %}
            {% endif %}
            <form method="post" action=".">
                <h1>Авторизация <a href="/registration">(регистрация)</a></h1>
                <label for="login">
                    Имя пользователя
                    <br/>
                    {{ form.username }}&nbsp;&nbsp;<span style="color:#FF0000;">{% if form.username.errors %}{{ form.username.errors|join:" " }}{% endif %}</span>
                </label>
                
                <label for="password">
                    Пароль
                    <br/>
                    {{ form.password }}&nbsp;&nbsp;<span style="color:#FF0000;">{% if form.password.errors %}{{ form.password.errors|join:" " }}{% endif %}</span>
                </label>
				{% if next %}
					<input type=hidden name="next" value="{{ next }}" />
				{% endif %}
                <label>
                    <input type="submit" value="войти" tabindex="3" name="commit"/>
                </label>
            </form>
        </div>
    </div>
</div>{% endblock %}
