{% extends "base.html" %}
{% load pretty %}
{% block script %}
<link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}css/form.css"/>
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>

<!--<link rel="stylesheet" type="text/css" href="/media/css/base.css" /> -->
<link rel="stylesheet" type="text/css" href="/media/css/forms.css" /> 
<script type="text/javascript" src="/admin/jsi18n/"></script> 
<script type="text/javascript" src="/media/js/core.js"></script> 
<script type="text/javascript" src="/media/js/admin/RelatedObjectLookups.js"></script> 
<script type="text/javascript" src="/media/js/getElementsBySelector.js"></script> 
<script type="text/javascript" src="/media/js/actions.js"></script> 
<script type="text/javascript" src="/media/js/SelectBox.js"></script> 
<script type="text/javascript" src="/media/js/SelectFilter2.js"></script> 
<script type="text/javascript" src="/media/js/calendar.js"></script> 
<script type="text/javascript" src="/media/js/admin/DateTimeShortcuts.js"></script> 

{% endblock %}
{% block content %}
<div id="map" style="width:773px; height:523px; float:left; margin-right:10px">
    <div class="standard_form" id="add_trackers">
    	<h1>Статистика <a href="{% url map %}">(на карту)</a>&nbsp;<a href="{% url trackers %}">(трекеры)</a></h1>
		{% if form %}
			<form action="." method="POST">
				{{ form.start_date }}
				{{ form.end_date }}
				<input type="submit" value="Фильтровать" style="margin: 5px 0pt 10px;">
			</form>
		{% endif %}
		<table class="track">
    		<tr>
    			<td class="first" >IMEI или ID</td>
				<td class="first">Общее время работы</td>
				<td class="first">Время в движении</td>
				<td class="first">Время без движения</td>
				<td class="first">Пройденный путь</td>
    		</tr>
			{% for tr in trackers %}
			<tr>
				<td>{{ tr.IMEI }}</td>
				<td>{{ tr.stats.link_time|pretty_timedelta }}</td>
				<td>{{ tr.stats.move_time|pretty_timedelta }}</td>
				<td>{{ tr.stats.stay_time|pretty_timedelta }}</td>
				<td>{{ tr.stats.distance|pretty_distance }}</td>
			</tr>
			{% endfor %}
    	</table>
    </div>
</div>
{% endblock %}
